<p id="notice"><%= notice %></p>

<p>
  <strong>Ip address:</strong>
  <%= @blocked_address.ip_address %>
</p>

<%= link_to 'Edit', edit_blocked_address_path(@blocked_address) %> |
<%= link_to 'Back', blocked_addresses_path %>
